name: CI (against releases)

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  test_0_1_0_installing_from_github:
    uses: RBniCS/RBniCSx/.github/workflows/ci.yml@v0.1.0
    with:
      ref: v0.1.0

  test_0_1_0_installing_from_pypi_versioned:
    uses: RBniCS/RBniCSx/.github/workflows/ci.yml@v0.1.0
    with:
      ref: v0.1.0
      index: PyPI
      index_version: 0.1.0
      expected_index_version: 0.1.0

  test_0_1_0_installing_from_pypi_unversioned:
    uses: RBniCS/RBniCSx/.github/workflows/ci.yml@v0.1.0
    with:
      ref: v0.1.0
      index: PyPI
      expected_index_version: 0.1.0

  warn:
    runs-on: ubuntu-latest
    if: github.repository == 'RBniCS/RBniCSx' && github.ref == 'refs/heads/main' && github.event_name == 'schedule'
    steps:
      - name: Warn if scheduled workflow is about to be disabled
        uses: fem-on-colab/warn-workflow-about-to-be-disabled-action@main
        with:
          workflow-filename: ci_against_releases.yml
          days-elapsed: 55
